pdfplumber
paddlepaddle
paddleocr
opencv-python
Pillow
llama-index
llama-index-llms-ollama
llama-index-llms-openai
llama-index-embeddings-huggingface
sentence-transformers
faiss-cpu
PyMuPDF
langdetect
streamlit
streamlit-pdf-viewer
numpy
python-dotenv
fastapi
uvicorn
python-multipart
pytesseract
jiwer
pydantic
